
#middle
{
    text-align: center;
    background: black;

}

.dropzone
{

    width: 20px;
    height: 40px;
    background: lightgrey;
    padding:10px;
    margin: 10px;
}

.button
{
font-size: 30px;
padding: 10px;
width: 100px;
background-color: rgb(201, 48, 48);
border-color: black;
outline-color: black;
color: white;
font-family:'Times New Roman', Times, serif;
vertical-align:text-bottom;
}

#bt
{
    padding-left: 16%;
    padding-top: 8%;
}

#machine
{
    padding-top: 10%;
    padding-left: 35%;
}
#betting
{
    float: left;
    margin: 10%;
    margin-top: 12%;
    text-align: center;

}
#bet
{
    width: 120px;
}
